<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Samuel Souza">
    <link rel="stylesheet" href="../static/style/register.css">
    <link rel="shortcut icon" href="../static/img/identificar.png" type="image/x-icon">
    <title>Sistema de Autenticação - Cadastrar</title>
</head>
<body>
    <main>
        
        <div id="form2">
            <h1>Criar Conta</h1>
            <div id="sobre">
                <p>Este é um sistema de autenticação de usuarios</p>
                <p>utilizando o metodo de criptografia SHA256 ao armazenar</p>
                <p>as senhas dos usuarios em um banco de dados,</p>
                <p>e nessa tela do sistema é possivel criar a sua conta.</p>
            </div>
            <div id="by">
                <p>Desenvolvido por Samuel Souza &#127801</p>
            </div>
            <div id="sociais">
                <a href="https://www.instagram.com/samuca.io/" target="_blank" rel="noopener"><img id="insta" src="../static/img/instagramblack.png"></a>
                <a href="https://www.linkedin.com/in/devsamuca/"  target="_blank" rel="noopener"><img id="linkedin" src="../static/img/linkedinblack.png"></a>
                <a href="https://www.youtube.com/@iosamuca" target="_blank" rel="noopener"><img id="youtube" src="../static/img/youtubeblack.png"></a>
                <a href="https://open.spotify.com/user/31vw57cbppfuqfi2mgy3fjgr53eu?si=232b2d994e0a4125" target="_blank" rel="noopener"><img id="spotify" src="../static/img/spotifyblack.png"></a>
            </div>
        </div>

        <form action="/register" method="POST">
            
            <h1 id="titulo">Criar</h1>
            <div id="campo-nome">
                <label for="nome">Nome:</label>
                <div id="ipt-nome">
                    <i class="fa-solid fa-user" style="color: #000000;"></i>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome...">
                </div>
            </div>

            <div id="campo-usuario">
                <label for="usuario">Usuario: </label>
                <div id="ipt-usuario">
                    <i class="fa-solid fa-address-card" style="color: #000000;"></i>
                    <input type="text" name="usuario" id="usuario" placeholder="Digite seu usuario...">
                </div>
            </div>

            <div id="campo-senha">
                <label for="senha">Senha: </label>
                <div id="ipt-senha">
                    <i class="fa-solid fa-key" style="color: #000000;"></i>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha...">
                </div>
            </div>

            <div id="botoes">
                <input type="submit" value="Cadastrar">

                {%set mensagens = get_flashed_messages()%}
                {%if mensagens%}
                    <p id="msg"> {{mensagens[0]}} </p>
                {%endif%}
                
                <a href="/">Ja possui uma conta? Entrar</a>
            </div>
        </form>
        
    </main>
    <script src="https://kit.fontawesome.com/f59b0f7f02.js" crossorigin="anonymous"></script> 
    <script src="../static/script/register.js"></script> 
</body>
</html>